<ion-view view-title="Odontograma" ng-controller="odontogramaController as vm">
 <ion-content> 

<!--
<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="box blue">
        <a>Odontograma</a>
        <odontograma-user-control item="vm.item"/>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box yellow">
        <h1>Tratamientos</h1>

    </div>
  </ion-slide>
  <ion-slide>
    <div class="box pink"><h1>PINK</h1></div>
  </ion-slide>
</ion-slide-box>
-->

  <button ng-click="test()">test</button>
    
    <win-hub id="odontograma" hub-test="{{moverA}}" item="{{moverA}}">   
   

    <win-hub-section header="'Odontograma'" is-header-static="true">
        <odontograma-user-control item="vm.item"/>
    </win-hub-section>

    <win-hub-section header="'Tratamientos'">
         <tratamiento-user-control/>
    </win-hub-section>          

    <win-hub-section header="'Seleccionado'" id="seleccionado">
         <div ng-controller="piezaSeleccionadaCtrl">           
             <pieza-completa es-pieza-completa="'true'" width="180" height="180" mostrar-boton-supernumerario="true" item='item'>
            </pieza-completa> 
        </div>        
    </win-hub-section>       

    <win-hub-section header="'Pieza seleccionada'">
        <ion-scroll direction="y" style="height: 500px">  
            <tratamientos-por-pieza-dental>
            </tratamientos-por-pieza-dental>
        </ion-scroll>
    </win-hub-section>    
   
    </win-hub>





</ion-content>
</ion-view>
