<div>
<div id="margen{{item.numeroPiezaDental}}">
    <margen></margen>
</div>

<div ng-click="item.click(item)">

<div style="text-align: center;">
  <div>
    {{item.numeroPiezaDental}}
  </div>



<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="62"
   height="155"
   id="svg2"
   version="1.1"
   inkscape:version="0.48.4 r9939"
   sodipodi:docname="Documento nuevo 1">
  <defs
     id="defs4" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="2.8"
     inkscape:cx="4.3147576"
     inkscape:cy="103.28291"
     inkscape:document-units="px"
     inkscape:current-layer="layer3"
     showgrid="false"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0"
     inkscape:window-width="1600"
     inkscape:window-height="847"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Diente"
     sodipodi:insensitive="true">
    <image
       y="-2.142858"
       x="4.7857146"
       id="image3004"
       xlink:href="{{item.rutaPiezaDental}}"
       height="100%"
       width="90%" />
  </g>
  
  <g
     inkscape:label="Guias"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(9.9285746,-892.36218)"
     sodipodi:insensitive="true">
    <image
       y="892.36218"
       x="-9.9285746"
       id="image2993"
       xlink:href="img/Periodontograma/fondo-grafico.png"
       height="110%"
       width="100%" />
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer3"
     inkscape:label="Furca">
    <image
       y="50%"
       x="48%"
       id="image3034"
       xlink:href="{{item.furca}}"       
       height="25%"
       width="25%" />
  </g> 
</svg>
</div>
</div>