
<div class="flex-container">
  <ion-item ng-repeat="n in items | filter:'parte1'">
    <a>
	    <pieza-completa width="40" height="40" mostrar-boton-supernumerario="false" item='n'>
		</pieza-completa> 
	</a>
  </ion-item>
</div>

<div class="flex-container" style="justify-content:center;">
  <ion-item ng-repeat="n in items | filter:'parte2'">
    <a>
      <pieza-completa width="40" height="40" mostrar-boton-supernumerario="false" item='n'>
    </pieza-completa> 
  </a>
  </ion-item>
</div>

<div class="flex-container" style="justify-content:center;">
  <ion-item ng-repeat="n in items | filter:'parte3'">
    <a>
      <pieza-completa width="40" height="40" mostrar-boton-supernumerario="false" item='n'>
    </pieza-completa> 
  </a>
  </ion-item>
</div>

<div class="flex-container">
  <ion-item ng-repeat="n in items | filter:'parte4'">
    <a>
      <pieza-completa width="40" height="40" mostrar-boton-supernumerario="false" item='n'>
    </pieza-completa> 
  </a>
  </ion-item>
</div>

<!--

<ion-scroll zooming="true" direction="xy">
  <div class="flex-container">
  <ion-item ng-repeat="n in items | filter:'parte1'">
    <a ui-sref="app.tratamientos" menu-toggle="right">
      <pieza-completa width="40" height="40" item='n'>
    </pieza-completa> 
  </a>
  </ion-item>
</div>
 </ion-scroll>


<ion-scroll zooming="true" direction="xy">
  <div class="flex-container">
  <ion-item ng-repeat="n in items | filter:'parte2'">
    <a ui-sref="app.tratamientos" menu-toggle="right">
      <pieza-completa width="40" height="40" item='n'>
    </pieza-completa> 
  </a>
  </ion-item>
</div>
 </ion-scroll>
-->




  