
<div class="flex-container">
  <ion-item ng-repeat="n in items">
    <a ui-sref="app.tratamientos" menu-toggle="right">
	    <pieza-completa width="40" height="40" item='n'>
		</pieza-completa> 
	</a>
  </ion-item>
</div>

<!--
<ion-scroll zooming="true" direction="xy">
  <div class="flex-container">
  <ion-item ng-repeat="n in items">
    <a ui-sref="app.tratamientos" menu-toggle="right">
	    <pieza-completa width="40" height="40" item='n'>
		</pieza-completa> 
	</a>
  </ion-item>
</div>
 </ion-scroll>


<ion-scroll zooming="true" direction="xy">
  <div class="flex-container">
  <ion-item ng-repeat="n in items">
    <a ui-sref="app.tratamientos" menu-toggle="right">
	    <pieza-completa width="40" height="40" item='n'>
		</pieza-completa> 
	</a>
  </ion-item>
</div>
 </ion-scroll>
-->




  