<ion-view view-title="Parametrizar tratamientos" ng-controller="TpTratamientosCtrl as vm">
	<ion-content ion-content scroll="true" >

		<div class="item item-divider">
    		Indices
  		</div>
		<ion-checkbox ng-model="Indices.IndiceCEO">Indice Ceo</ion-checkbox>
		<ion-checkbox ng-model="Indices.IndiceCOP">Indice Cop</ion-checkbox>
		<ion-checkbox ng-model="Indices.IndicePlacaBacteriana">Placa bacteriana</ion-checkbox>


		<div class="item item-divider">
			Aplica para
		</div>		
		
		<select ng-model="AplicaSeleccionado" ng-options="aplica.nombre for aplica in Aplica" ng-change="cambioAplicaA(AplicaSeleccionado)"></select>

		<div class="item item-divider">
			Muestra
		</div>

		<div class="item item-divider">
			Fuente
		</div>

		<select ng-model="Fuente" ng-options="fuente.fuente for fuente in Fuentes" ng-change="cambioFuente(Fuente)" ></select>

		<ngjs-color-picker ng-click="clickColor(selectedColor)" selected="selectedColor" options="customOptions"></ngjs-color-picker>

		<h5>Descripcion</h5>
		<input ng-model="textoDescripcion" ng-keyup="tratamientoTexto(textoDescripcion)">

		<h5>Symbolo</h5>
		<input ng-model="textoSimbolo" ng-keyup="tratamientoSimbolo(textoSimbolo)">

		<h5>Letra</h5>
		<input ng-model="textoLetra" ng-keyup="tratamientoLetra(textoLetra)">		


		<div class="row">
		  <div class="col"><tratamientos item='tratamientoMuestra'/></div>
		  <div class="col"><button class="button button-balanced" ng-click="guardar()">Guardar</button></div>		  
		</div>
		

	</ion-content>
</ion-view>